.Button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus,
.Button:hover {
    background-color: var(--color-light-grey);
}